{% extends 'base.html.twig' %}

{% block title %}Ajouter une categorie{% endblock %}

{% block body %}
    <div class="add-to-do">
        <h1>Ajouter une catégorie</h1>
        {{ form(form) }}
    </div>
{% endblock %}