{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Your tasks</h1>

    <div class="tasks-container" data-config="{{ configJson }}"></div>

    <img src="{{ asset('images/chicken_fallback.png') }}" alt="">


</div>
{% endblock %}
