html{
    font: 18px/1.5 sans-serif;
}

body {
    background-color: skyblue;
    margin: 1em auto;
    max-width: 800px;
    width: 95%;
}

.to-do-lists table{
    width: 100%;
}

.to-do-lists table tr{
    text-align: left;
}

.to-do-lists table th{
    width: 50%;
}
